################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/obj/Debug
/Lab1/Properties
/Lab1/obj/Release
/Lab1/bin/Debug
/.vs/CS107.3-Lab-27115/v17
/.vs
/Lab2/Lab2/obj/Debug
/Lab2/Lab2/bin/Debug
/Lab2/Lab2/Properties
/Lab2/.vs/Lab2
/Lab2/Qustion3/Qustion3/obj/Debug
/Lab2/Qustion3/Qustion3/bin/Debug
/Lab2/Qustion3/.vs/Qustion3
/Lab2/Qustion3/Qustion3/.vs/Qustion3/FileContentIndex
/Lab2/Qustion3/Qustion3/.vs
/Lab2/Qustion3/Qustion3/obj/Release
/Lab3/Lab3/bin/Debug
/Lab3/Lab3/obj/Debug
/Lab3/.vs/Lab3
/Lab4/.vs/Lab4
/Lab4/Lab4/bin/Debug
/Lab4/Lab4/obj/Debug
/Lab4/Lab4/Properties
/Lab01/.vs/Lab01
/Lab01/Lab01/obj/Debug
/Lab1/.vs/LAB1/FileContentIndex
/Lab1
/Lab4
/Lab02
/Lab04/.vs/Lab04/FileContentIndex
/Lab04/.vs/Lab04/v17
/Lab04/Lab04/obj/Debug
/Lab04/Lab04/Question 1/.vs/Question 1/FileContentIndex
/Lab04/Lab04/Question 1/.vs/Question 1/v17
/Lab04/Lab04/Question 1/Question 1/bin/Debug
/Lab04/Lab04/Question 1/Question 1/obj/Debug
/Lab04/Lab04/Qustion2/.vs/Qustion2
/Lab04/Lab04/Qustion2/Qustion2/bin/Debug
/Lab04/Lab04/Qustion2/Qustion2/obj/Debug
